@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 0;
}

.header-container {
  width: 70%;
  height: 110px;
  background: #666;
  padding: 37px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #f3f3f3;
  font-family: 'Lato';
  margin-bottom: 20px;
}

.title {
  padding: 0 103px;
  font-size: 2rem;
}

.hero-container {
  background-color: #666;
  width: 70%;
}

.cart {
  width: 90%;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 11rem;
  width: 11rem;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transition: transform 0.15s linear;
}

ul li {
  margin: 1em;
}

ul li:nth-child(odd) a {
  transform: rotate(-4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.9);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul li:nth-child(even) a {
  position: relative;
  top: 5px;
  background: #cfc;
}

ul li:nth-child(3n) a {
  position: relative;
  top: -5px;
  background: #ccf;
}
